@import url("./../../global-colors.css");

.restaurantsTabsContainer {
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.restaurantPage {
  min-height: calc(100vh - 140px);
}
