.counter {
  color: #f8f8f8;
  font-size: 30px;
  width: 36px;
  height: 36px;
  background-color: #e18504;
  border-radius: 1px;
  border: none;
}

.counter:hover {
  opacity: 0.8;
}

.counterContainer {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
