@import url("./../../global-colors.css");

.formSectionContainer {
  margin-top: 40px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
}

.formTitle {
  margin-bottom: 10px;
}

.formItem {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.inputTitle {
  font-size: 14px;
}

.formInput {
  width: 50vw;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  background-color: var(--light-secondary-color);
}

.nameInput {
  height: 25px;
}

.textarea {
  height: 100px;
}

.submit {
  border: none;
  text-transform: uppercase;
  background-color: var(--primary-color);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  transition: transform 0.3s;
}

.submit:hover {
  transform: scale(1.05);
}
