@import url("./../../global-colors.css");

.restaurantContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.restaurantName {
  margin-bottom: 30px;
}

.reataurantTabs {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--dark-secondary-color);
  opacity: 0.8;
}

.activeLink {
  opacity: 1;
}
