.headerContainer {
  color: #e18504;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  height: 70px;
}

.title {
  font-weight: 900;
  text-align: center;
}
