* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ul li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #2a2a2a;
}
